
# Data
/data/
.vector_cache/

# Internal scripts
scripts/send_to_janis.sh

# Models
/models/

# Results
src/out
src/log

# Compiled package
build/
dist/
*egg-info*

# Python complied
*.pyc
*__pycache__*

# Jupyter
.ipynb_checkpoints/
